.Gvision {
    padding-top: 6rem;
    padding-bottom: 0;
    margin-bottom: 0;
    /* padding-bottom: 1rem; */
}

.textVision {
    padding: 0 0 0 0;
    bottom: 5.5rem;
}

.textVision2 {
    padding: 0 0 0 0;
    padding-top: 1rem;
}

.Gmision{
    bottom: 5.5rem;
}

.GObjetivosCalidad{
    margin-top: 4rem;
}

.textMision{
    padding-top: 1.5rem;
}

.footerPrincipal{
    padding-top: 6rem;
}

.textPoliticaCalidad{
    padding-top: 1rem;
}

.tituloObjetivosC{
    margin-bottom: 1.5rem;
}

.GPCalidad{
    bottom: 5.5rem;
}

.textObjetivosCalidad{
    bottom: 5.5rem;
}